<!DOCTYPE html>
<html lang="en">
<!-- 新 Bootstrap5 核心 CSS 文件 -->
<link rel="stylesheet" href="https://cdn.staticfile.org/twitter-bootstrap/5.1.1/css/bootstrap.min.css">

<!-- 最新的 Bootstrap5 核心 JavaScript 文件 -->
<script src="https://cdn.staticfile.org/twitter-bootstrap/5.1.1/js/bootstrap.bundle.min.js"></script>

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>hello world</title>
</head>

<body>
    <h1>Hello World</h1>
    <div class="container pt-5 my-5 bg-dark text-white">
        <h1> my first bootstrap page</h1>
        <p> this i pragage</p>
    </div>
    <div class="container-fluid">
        <h2>my first page</h2>
        <p> 100 width</p>
    </div>

    <div class="container-sm border">mt_int; {{ my_int }}</div>
    <div class="container-md mt-3 border">my_str: {{my_str}}</div>
    <div class="container-lg mt-3 border">{{my_list}}</div>
    <div class="container-xl mt-3 border">{{my_dict}}</div>
    <div class="container-xxl mt-3 border">.container-xxl</div>

    <div class="row">
        <div class="col-*-*">12</div>
      </div>
      <div class="row">
        <div class="col-*-*">13</div>
        <div class="col-*-*">14</div>
        <div class="col-*-*">15</div>
      </div>
      <div class="row">
        <div class="col">16</div>
        <div class="col">17</div>
        <div class="col">18</div>
      </div>
      
</body>

</html>